<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whrabbit.bioscoop">

    <!-- user permission om gebruik van internet te maken -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GOOGLE MAPS PERMISSION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- API AND GOOGLE MAPS -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:label="Bioscoop"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ticket Activities -->
        <activity
            android:name=".TicketListActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".DetailedTicketActivity" />

        <!-- ContactActivity -->
        <activity
            android:name=".ContactActivity"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Film Activities -->
        <activity
            android:name=".FilmListActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".FilmListActivityHistory"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".PlaytimesActivity"
            android:noHistory="true"/>
        <activity android:name=".TicketActivity" />
        <activity android:name=".ReviewListActivity"
            android:noHistory="true"/>
        <activity android:name=".ReviewActivity" />
        <activity android:name=".FilmInfoActivity"
            android:noHistory="true"/>
        <activity android:name=".SelectSeatsActivity" />
        <activity android:name=".FinalActivity" />
        <activity android:name=".PaymentActivity"/>
    </application>

</manifest>